%span.category.category--full= @repo.description
%h2.title.title--full= @repo.name
.meta.meta--full.center
  .glyph-sample
    %i{class:"icon-#{@repo.language.downcase}"} 
  %span=  @repo.languages.join(', ')
  %h3 Statistiques
  %span #{@repo.last_year_commits_count} commits les 52 dernières semaines
  .loader
  %span 
    %ul.no-bullets
      - @repo.last_year_of_commit(@user).each do |k,v|
        %li= "#{k.to_s} la semaine numéro #{v.strftime('%U')} de l'année #{v.strftime('%Y')}"
  .loader
  %h3 Position au top 10 des contributeurs: #{@repo.position(@user)}
  %a{:href => "#{@repo.html_url}", target:'_blank'}= @repo.html_url
