%header.index-header
  %h1
    Github Activités
    %span Trouvez les informations d'un utilisateur Github
    #scrollable-dropdown-menu
      = form_tag saved_searches_path, remote: true, class:'search-box saved_searches', :method => :post do
        = button_tag "Accéder aux recherches récentes", class:'search-btn saved_searches-btn', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Loading...".html_safe        
      = form_tag search_path, remote: true, class:'search-box', :method => :post do
        = search_field_tag :username, nil, class:'typeahead', placeholder:'@utilisateur', autocomplete:'off'
        = button_tag 'Rechercher', class:'search-btn', 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Loading...".html_safe
    #results 